<section class="row">
	<div class="intro col-md-12">
		<h2>Search</h2>
		<p><a href="watch-list/">Check out yo' watch list!</a></p>
		<p>You ain't going to be able to do nuthin' unless you've <a href="login">logged in</a>. Just sayin'.</p>
	</div>
	<div class="col-md-6">
		<form action="results/" method="get" class="">
			<div class="form-group">
				<label for="name">Search for a film:</label>
				<input type="text"  class="form-control" name="film" value="">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Search">
			</div>
		</form>
	</div>
</section>